# Copie as informações aqui escritas para um arquivo nomeado .env
# Edite as variáveis como for necessário para conectar à sua instância do banco

POSTGRES_DB=library_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432